# Bekerja denga  List dan Tuples

| Algoritma dan Pemrograman | Muhaza Liebenlito | 2021 |

# Materi
1. Bekerja dengan List:
    * Looping pada element List
    * Error yang sering terjadi
    * Membuat List numerik
    * Bekerja dengan sebagian elemen List
    * Multidimensional List
2. Tuples

# Looping pada elemen List

__Contoh 1:__ Misalkan kita memiliki daftar merk mobil. Kemudian kita ingin __print__ merk mobil tersebut satu persatu. Maka kode di Pythonnya adalah:

In [ ]:
mobil = ['toyota', 'honda', 'BMW', 'hyundai']    # (1)
for i in mobil:                                  # (2)
    print(i)                                     # (3)

toyota
honda
BMW
hyundai

__Penjelasan:__ Kita mulai dengan mendefinisikan suatu variabel 'mobil' sebagai list pada (1). Kemudian pada (2), kita definisikan pengulangan __for__. Ini artinya "masukan nilai-nilai yang ada pada elemen di List 'mobil' ke dalam variabel 'i'." Lalu pada (3) kita __print__ nilai yang terdapat pada variabel i (Catatan: Perhatikan __indentasinya__). Python melakukan pengulangan sampai elemen terakhir di List 'mobil'. Bahasa manusianya adalah "Untuk setiap 'i' di 'mobil',  keluarkan nilai-nilai dari elemen-elemen di 'mobil'."

Kita juga bisa memodifikasi keluarannya dengan membentuk suatu kalimat dan menambahkan suatu variabel baru yang digunakan sebagai urutan pembelian. Seperti:

In [ ]:
angka = 1
for i in mobil:
    print("Pembelian ke " + str(angka) + " yaitu " + i.title())
    angka += 1 # artinya sama dengan angka = angka + 1

Pembelian ke 1 yaitu Toyota
Pembelian ke 2 yaitu Honda
Pembelian ke 3 yaitu Bmw
Pembelian ke 4 yaitu Hyundai

__Perhatikan:__ Bagaimana jika indentasi pada variabel 'angka' sejajar dengan perintah __for__ ?

In [ ]:
angka = 1
for i in mobil:
    print("Pembelian ke " + str(angka) + " yaitu " + i.title()) # nilai variabel angka tetap 1.
angka += 1 # di sini nilai variabel angka adalah 2.

Pembelian ke 1 yaitu Toyota
Pembelian ke 1 yaitu Honda
Pembelian ke 1 yaitu Bmw
Pembelian ke 1 yaitu Hyundai

Seperti yang terlihat pada output di atas, hal yang terjadi adalah variabel angka tidak masuk ke dalam pengulangan __for__. Sehingga variabel angka bernilai tetap 1.

## Error yang sering terjadi

Python menggunakan indentasi untuk menentukan apakah baris kode yang satu saling berhubungan dengan baris kode lain yang berada diatasnya (istiliah ini disebut __indented block__). Biasanya error yang sering terjadi adalah __indentation error__. Perhatikan contoh berikut:

In [ ]:
mobil = ['toyota', 'honda', 'BMW', 'hyundai']    # (1)
for i in mobil:                                  # (2)
print(i)                                         # (3)

IndentationError: expected an indented block (<ipython-input-4-4c1313d4e377>, line 3)

__Penjelasan:__ Perintah __for__ pada baris (2) berharap melakukan suatu perintah yang terletak pada berikutnya. Namun, karena baris (3) indentasinya sejajar pada baris (2) (artinya tidak berada dalam satu blok), maka tidak ada hubungan antara baris (2) dan (3). Sehingga terjadi __IndentationError__.

Error yang sering terjadi berikutnya adalah lupa tanda kolon ':' (dibaca titik dua) pada akhir perintah __for__. Jika hal ini terjadi maka akan terjadi __SyntaxError__, seperti:

In [ ]:
mobil = ['toyota', 'honda', 'BMW', 'hyundai']    # (1)
for i in mobil                                   # (2)
print(i)                                         # (3)

SyntaxError: invalid syntax (<ipython-input-5-0cf7988c6e83>, line 2)

# Membuat List numerik

Sering kali kita membutuhkan List yang berisi bilangan yang berurutan. Kita bisa melakukannya dengan menggunakan fungsi __range()__, seperti:

In [ ]:
for nilai in range(1,5): # (1)
    print(nilai)         # (2)

1
2
3
4

__Penjelasan:__ Pada baris (1), __range(1,5)__ berarti membuat urutan angka dari 1 sampai dengan 4 yang disimpan di variabel 'nilai'. Kemudian lakukan perintah __print__ pada baris (2). Perlu diperhatikan, __range(1,_n_)__ berarti akan menghasilkan angka yang berurutan dari 1 sampai dengan _n-1_.

Contoh lainnya menggunakan fungsi __range()__, yaitu:

In [ ]:
for nilai in range(5):
    print(nilai)

0
1
2
3
4

Kita bisa membuat suatu list yang berisi urutan angka dengan bantuan fungsi __range()__, seperti:

In [ ]:
angka = list(range(1,5))
print(angka)

[1, 2, 3, 4]

__Contoh 2:__ Kita tahu bahwa dalam sistem bilangan bulat positif terdapat bilangan ganjil dan genap. Urutan bilangan ganjil dan genap selalu selang-seling, misalnya urutan pertama adalah bilangan ganjil maka urutan keduanya adalah bilangan genap. Kita dapat membuat List yang berisi urutan bilangan genap dengan fungsi __range(awal, akhir, jeda)__. Pada fungsi __range(a, b, jeda)__ terdapat parameter __awal__ yang menunjukan angka awal, parameter __akhir__ menunjukan angka terakhir $- 1$, dan parameter __jeda__ menunjukan "dilongkap berapa kali", seperti kode berikut:

In [ ]:
angka = list(range(2,20, 2)) # (1)
print(angka)                 # (2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Kita juga bisa membuat List yang berisi urutan angka pangkat 2 (angka $= a^2$, dimana $a$ adalah bilangan bulat)

In [ ]:
angka = []
for nilai in range(-10,10):
    pangkat = nilai**2
    angka.append(pangkat)
print(angka)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

atau dapat menggunakan _komprehensif List_ (membuat list hanya menggunakan satu baris kode),

In [ ]:
angka = [nilai**2 for nilai in range(-10,10)] # komprehensif List
print(angka)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Ketika kita membuat suatu List yang berisi angka, kita juga bisa mencari nilai terkecil dengn fungsi __min()__, terbesar dengan __max()__, dan jumlah dengan __max()__ dari setiap elemen-elemen dari List tersebut.

In [ ]:
data = [283, 34, 21, 43, 65, 2, 12, 12, 2, 124, \
        1, 203, 383, 124, 231, 12, 64, 74, 73, 98, 83, 3, 43]
nilai_min = min(data)
nilai_max = max(data)
jumlah = sum(data)
print("Nilai terkecil: " + str(nilai_min))
print("Nilai terbesar: " + str(nilai_max))
print("Jumlah: " + str(jumlah))

Nilai terkecil: 1
Nilai terbesar: 383
Jumlah: 1990

atau kode yang lebih "compact" nya:

In [ ]:
data = [283, 34, 21, 43, 65, 2, 12, 12, 2, 124, \
        1, 203, 383, 124, 231, 12, 64, 74, 73, 98, 83, 3, 43]
print("Nilai terkecil: {}".format(min(data)))
print("Nilai terbesar: {}".format(max(data)))
print("Jumlah: {}".format(sum(data)))

Nilai terkecil: 1
Nilai terbesar: 383
Jumlah: 1990

# Bekerja dengan sebagian elemen List

Terkadang kita ingin bekerja dengan sebagian elemen saja. Oleh karena itu, kita dapat mengakses sebagian elemen dari suatu List atau yang disebut dengan istilah __slice__, seperti contoh berikut:

In [ ]:
mobil = ['toyota', 'honda', 'BMW', 'daihatsu', 'ferrari'] # (1)
print(mobil[0:3]) # (2) slice elemen ke 0 sampai ke 2

['toyota', 'honda', 'BMW']

__Penjelasan:__ Dari kode di atas dapat diartikan kita ingin memotong nilai elemen ke 0 sampai ke 2 (ingat, indeks di Python di awali dengan indeks ke 0) dari List <code>mobil</code> yaitu toyota, honda, dan BMW. Perhatikan bahwa hasil dari _slice_ adalah List juga.

Di dalam _slicing_ List, kita juga bisa memotong List tanpa harus menginput indeks awal dan/atau indeks akhirnya. Contoh:

In [ ]:
mobil = ['toyota', 'honda', 'BMW', 'daihatsu', 'ferrari']
mobil1 = mobil[:2] # slice dari elemen awal sampai ke 1
mobil2 = mobil[2:] # slice dari elemen ke 2 sampai elemen terakhir
mobil3 = mobil[:] # slice semua elemen
print("Output mobil1: ",mobil1)
print("Output mobil2: ",mobil2)
print("Output mobil3: ",mobil3)

Output mobil1:  ['toyota', 'honda']
Output mobil2:  ['BMW', 'daihatsu', 'ferrari']
Output mobil3:  ['toyota', 'honda', 'BMW', 'daihatsu', 'ferrari']

Misalkan kita ingin memisahkan atau mengkategorikan dari List 'mobil' di atas, apakah mobil tersebut buatan jepang atau eropa. Cara menyelesaikannya adalah:

In [ ]:
mobil = ['toyota', 'honda', 'BMW', 'daihatsu', 'ferrari']
mobil_jepang = mobil[0:2] 
mobil_jepang.append(mobil[3])
mobil_eropa = []
mobil_eropa.append(mobil[2])
mobil_eropa.append(mobil[4])
print("Mobil Jepang: ", mobil_jepang)
print("Mobil Eropa: ", mobil_eropa)

Mobil Jepang:  ['toyota', 'honda', 'daihatsu']
Mobil Eropa:  ['BMW', 'ferrari']

# Multidimensional List

Misalkan kita punya List di dalam List atau dapat disebut __multidimensional List__ (lebih mudahnya, dapat diilustrasikan sebagai matriks), <code>mobil = [['toyota', 'honda', 'daihatsu'], ['BMW',  'ferrari']]</code>. Ini berarti multidimensional List <code>mobil</code> memiliki dua buah List yaitu List dengan indeks ke 0 dan List dengan indeks ke 1. Jika kita dapat menerapkan semua hal yang telah kita pelajari tentang List dengan sedikit modifikasi, seperti:

In [ ]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW',  'ferrari']]
print(mobil[0]) # (1) 
print(mobil[0][0]) # (2) 
print(mobil[0][:2]) # (3)

['toyota', 'honda', 'daihatsu']
toyota
['toyota', 'honda']

__Penjelasan:__ Pada kode baris (1), menampilkan nilai List ke 0 dari List dua dimensi <code>mobil</code>. Untuk mengkakses List ke 0 kemudian akses elemen ke 0 dari List ke 0 dapat menggunakan kode di (2). Kode di baris (3) digunakan untuk slice List ke 0, mulai dari elemen pertama sampai dengan ke 1.

Untuk menambahkan elemen pada multidimensional List dapat menggunakan <code>append</code> atau cara yang telah kita pelajari sebelumnya, seperti pada kode di bawah ini:

In [ ]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW',  'ferrari']]
mobil[0].append('suzuki')
mobil[1].append('jaguar')
print(mobil)

[['toyota', 'honda', 'daihatsu', 'suzuki'], ['BMW', 'ferrari', 'jaguar']]

Sebelumnya kita juga telah mempelajari bagaimana cara menghapus elemen dari List yaitu dengan perintah <code>del</code>, metode <code>pop</code> atau metode <code>remove</code>. Dengan cara yang sama, kita juga bisa mengimplementasikan cara tersebut untuk menghapus suatu elemen dari multidimensional List, seperti:

In [ ]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW',  'ferrari']]
pop_mobil = mobil.pop()
print("List yang terhapus: ", pop_mobil)
print("List sekarang: ", mobil)

List yang terhapus:  ['BMW', 'ferrari']
List sekarang:  [['toyota', 'honda', 'daihatsu']]

__Perhatikan:__ Jika kita mengimplementasikan metode <code>pop</code> tanpa parameter maka ini akan menghapus List ke 1 dari multidimensional List <code>mobil</code>. Jika kita hanya ingin menghapus elemen ke 0 dari List ke 0 maka dapat dilakukan dengan cara:

In [ ]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW',  'ferrari']]
mobil[0].pop(0)
print(mobil)

[['honda', 'daihatsu'], ['BMW', 'ferrari']]

Misalkan kita ingin menampilkan output tiap-tiap elemen pada multidimensional List, maka kita dapat melakukannya dengan cara:

In [ ]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW',  'ferrari']]

for i in range(0, len(mobil)): # (1)
    for j in mobil[i]: # (2)
        print(j)

toyota
honda
daihatsu
BMW
ferrari

__Penjelasan:__ Kode baris (1) kita ingin melihat banyaknya List yang ada di multidimensional List <code>mobil</code> menggunakan perintah <code>len()</code>. Kemudian untuk setiap <code>i</code> akan diisi nilai 0 sampai dengan <code>len(mobil)-1</code>. Pada baris (2), untuk setiap <code>j</code> akan diisi nilai dari masing-masing elemen yang terdapat di <code>mobil[0]</code> dan <code>mobil[1]</code> berturut-turut.

# Tuples

Perbedaan antara struktur data List dan Tuple adalah jika di dalam List elemen-elemennya dapat dimodifikasi nilainya maka di Tuple tidak. Oleh sebab itu, Tuple dapat disebut juga __immutable List__. Biasanya Tuple digunakan untuk mendefinisikan ukuran suatu array atau matriks (seperti yang terdapat di dalam modul _Numpy_). Cara mendefinisikan Tuple yaitu:

In [ ]:
ukuran_matriks = (1920, 1080) # m x n
print("m = ", ukuran_matriks[0])
print("n = ", ukuran_matriks[1])

m =  1920
n =  1080

Misalkan kita ingin mengganti/memodifikasi nilai $m$ dengan 1000, maka kita akan mendapatkan __TypeError__, seperti:

In [ ]:
ukuran_matriks = (1920, 1080) # deklasrasi Tuple
ukuran_matriks[0] = 1000 # modifikasi nilai m
print("m = ", ukuran_matriks[0])
print("n = ", ukuran_matriks[1])

TypeError: 'tuple' object does not support item assignment

Walaupun kita tidak dapat memodifikasi elemen di Tuple, kita dapat menuliskan nilai baru ke Tuple yang kita buat. Ini berarti, kita harus memodifikasi semua nilai di elemen Tuple tersebut. Contohnya:

In [ ]:
ukuran_matriks = (1920, 1080)
ukuran_matriks = (1000, 1080)
print(ukuran_matriks)

(1000, 1080)